

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

{{!-- bootstrap carousel --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <!-- Css Styles -->
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/tiny-slider.css">
    <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.css">
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">
</head>

<body>
    <nav id="default_nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="offcanvas__logo">
                <a href="./index.html"><img src="/user/img/logo.png" alt=""></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
             
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/mobile phone">Mobiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/laptop">Laptops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/tablets">Tablets</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Other</a>
                        <ul class="dropdown-menu">
                            {{#each avlcat}}
                            <li class="dropdown-item"><a href="/products/{{this._id}}">{{this._id}}</a></li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
                <div>
                    <ul class="header__right__widget">
                        <li class="nav-item"><span class="icon_search search-switch"></span></li>
                        <li class="nav-item"><a href="/wishList"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        <li class="nav-item" id="cart-count"><a href="/cart"><span class="icon_bag_alt "></span>
                                <div class="tip">{{cartCount}}</div>
                            </a></li>
                        <a class="profile_icon" href="/my_profile"><i class="fa fa-user"></i></a>
                    </ul>

                </div>

                <div class="header__right__auth">
                    {{#if userDetails}}
                    <a class="nav-link" href="/logout">Logout</a>
                    {{else}}
                    <a class="nav-link" href="/login">Login</a>
                    {{/if}}

                </div>
               
            </div>
        </div>
    </nav>

    <!-- Optional JavaScript; choose one of the two! -->


   
</body>